@model List<MDK.Models.Birim>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammade Listesi</title>
    <link rel="stylesheet" href="~/purple/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/purple/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/purple/assets/css/style.css" />
</head>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="loader"></div>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!-- header and sidebar: unchanged -->
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-2">Hammade Kaydı</h4>
                        <p class="card-description mb-4">Yeni Hammade bilgilerini giriniz</p>

                        <form id="myForm" action="/Material/Create_M" method="POST" enctype="multipart/form-data"
                              data-parsley-validate class="forms-sample">
                            <div class="row g-3 mb-4">
                                <div class="col-md-6">
                                    <label for="HamMaddeAdi" class="form-label">Hammadde Adı:</label>
                                    <input name="HamMaddeAdi" id="HamMaddeAdi" type="text" class="form-control" required minlength="1" maxlength="32">
                                </div>
                                <div class="col-md-6">
                                    <label for="Birim" class="form-label">Birim:</label>
                                    <select name="Birim" id="Birim" name="BirimSelect"
                                            class="form-select" required>
                                        @foreach (var a in Model)
                                        {
                                            <option value="@a.Id">@a.Birim1</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <hr class="my-4 border-top border-2 border-secondary" />
                            <button type="submit" class="btn btn-gradient-primary">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>